/*----------------------------------------*\
  KANBASU SETTINGS
\*----------------------------------------*/

// Use this setting to prefix all the components classes
$namespace:                         '';

$rtl:                               false;


/**
 * Colors
 */

$brand-color:                       $green-700;
$alt-color-lighter:                 #eee;
$alt-color-light:                   #999;
$alt-color:                         #777;
$alt-color-dark:                    #555;
$alt-color-darker:                  #333;


/**
 * Typography
 */

$font-family-default:               Archivo, Arial, sans-serif;

$font-size-default:                 16px;
$font-size-small:                   0.75rem;
$font-size-large:                   1.5rem;

$line-height-default:               1.75;

$text-color:                        $web-black;
$link-color:                        $brand-color;
$muted-color:                       $warm-grey-700;


/**
 * Spacings
 */

$ratio:                             1.61803398875;

$spacing-unit-default:              20px;
$spacing-unit-tiny:                 floor($spacing-unit-default / ($ratio * 2));
$spacing-unit-small:                floor($spacing-unit-default / $ratio);
$spacing-unit-large:                floor($spacing-unit-default * $ratio);
$spacing-unit-huge:                 floor($spacing-unit-default * ($ratio * 2));

$spacings:                          (
                                      'tight' 0,
                                      'tiny' $spacing-unit-tiny,
                                      'small' $spacing-unit-small,
                                      'large' $spacing-unit-large,
                                      'huge' $spacing-unit-huge
                                    ) !default;

/**
 * Responsiveness
 */

// Use EM media-queries for better browser consistency
// See http://zellwk.com/blog/media-query-units
$screen-xs-max:                     640px  / 16px * 1em;
$screen-sm-min:                     641px  / 16px * 1em;
$screen-sm-max:                     768px  / 16px * 1em;
$screen-md-min:                     769px  / 16px * 1em;
$screen-md-max:                     1024px / 16px * 1em;
$screen-lg-min:                     1025px / 16px * 1em;
$screen-lg-max:                     1199px / 16px * 1em;
$screen-xl-min:                     1200px / 16px * 1em;

$screen-xxl-min:                    1500px / 16px * 1em;

$breakpoints-default:               (
                                     'sm' '(min-width: #{$screen-sm-min})',
                                     'md' '(min-width: #{$screen-md-min})',
                                     'lg' '(min-width: #{$screen-lg-min})',
                                     'xl' '(min-width: #{$screen-xl-min})'
                                   );
$breakpoints-desc:                  (
                                     'xs' '(max-width: #{$screen-xs-max})',
                                     'sm' '(max-width: #{$screen-sm-max})',
                                     'md' '(max-width: #{$screen-md-max})',
                                     'lg' '(max-width: #{$screen-lg-max})'
                                   );


/**
 * Miscellaneous
 */

$border-radius-default:             4px;
$border-radius-small:               2px;
$border-radius-large:               6px;


/*----------------------------------------*\
  COMPONENTS
\*----------------------------------------*/

/**
 * Buttons
 */

$btn-padding:                       $spacing-unit-default/$ratio $spacing-unit-default;
$btn-color:                         $web-black;
$btn-font-size:                     inherit;
$btn-font-family:                   inherit;
$btn-border:                        1px solid transparent;
$btn-bkg:                           transparent;
$btn-border-radius:                 0;

$btn-small-padding:                 $spacing-unit-small/$ratio $spacing-unit-small;
$btn-small-font-size:               $font-size-small;
$btn-small-border:                  $btn-border;
$btn-small-border-radius:           0;

$btn-large-padding:                 $spacing-unit-default/$ratio $spacing-unit-default;
$btn-large-font-size:               $font-size-large;
$btn-large-border:                  2px solid transparent;
$btn-large-border-radius:           0;

$btn-default-color:                 $web-black;
$btn-default-bkg-color:             white;
$btn-default-hover-bkg-color:       $web-black;
$btn-default-active-bkg-color:      darken($web-black, 15%);

$btn-primary-color:                 $brand-color;
$btn-primary-bkg-color:             white;
$btn-primary-hover-bkg-color:       $brand-color;
$btn-primary-active-bkg-color:      darken($brand-color, 15%);


/**
 * Forms
 */

$field-padding:                     $spacing-unit-tiny $spacing-unit-small;

$field-color:                       $text-color;
$field-font-size:                   inherit;
$field-font-family:                 inherit;
$field-line-height:                 $line-height-default;

$field-bkg-color:                   white;
$field-border:                      1px solid $warm-grey-100;
$field-focus-border-color:          $warm-grey-500;
$field-border-radius:               0;

$field-disabled-bkg-color:          $warm-grey-100;
$field-disabled-color:              $alt-color;

$field-small-padding:               $spacing-unit-tiny;
$field-small-font-size:             $font-size-small;
$field-small-border:                $field-border;
$field-small-border-radius:         0;

$field-large-padding:               $field-padding;
$field-large-font-size:             1.5rem;
$field-large-border:                2px solid $warm-grey-100;
$field-large-border-radius:         0;

$field-help-color:                  $alt-color-light;

$form-group-spacing:                $spacing-unit-small;


/**
 * Lists
 */

$list-separator-style:              1px solid $alt-color-lighter;


/**
 * Box
 */

$box-default-color:                 inherit;
$box-default-bkg-color:             white;

$box-primary-color:                 white;
$box-primary-bkg-color:             $brand-color;


/**
 * Widths
 */

$widths-columns:                    12,7,6,5,4,3,2,1;
$widths-breakpoints:                append($breakpoints-default, ('xxl' '(min-width: #{$screen-xxl-min})'));


/**
 * Media responsive
 */

$media-collapse:                    $screen-sm-max;


/**
 * Container
 */

$container-gutter-width:            $spacing-unit-small;
$container-max-width:               1142px;
$container-wide-max-width:          1920px;


/**
 * Table responsive
 */

$table-responsive-collapse:         $screen-sm-max;
