/*----------------------------------------*\
  FONTS
\*----------------------------------------*/

@font-face {
  font-family: Archivo;
  font-display: swap;
  src: url('../fonts/Archivo-Regular.woff2') format('woff2'),
       url('../fonts/Archivo-Regular.woff') format('woff');
}

@font-face {
  font-family: Archivo;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/Archivo-SemiBold.woff2') format('woff2'),
       url('../fonts/Archivo-SemiBold.woff') format('woff');
}

@font-face {
  font-family: Archivo;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Archivo-Bold.woff2') format('woff2'),
       url('../fonts/Archivo-Bold.woff') format('woff');
}

@font-face {
  font-family: Archivo;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/Archivo-Italic.woff2') format('woff2'),
       url('../fonts/Archivo-Italic.woff') format('woff');
}
