.color {
  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 5em;
    background-color: currentColor;
  }

  pre {
    padding: 8px 12px;

    color: $color-text;
    background-color: #F7F7F5;
  }

  span {
    color: lighten($color-text, 25%);
  }
}
