---
title: 404
---

{{>navbar.default class="navbar--sticky" 404="true"}}

<section class="section section--behind-navbar">
  <div class="section__body">
    <h1 class="visible-sr">404</h1>
    <div class="clearfix text-center">
      <span class="compass__title compass__title--left">4</span>
      {{>compass}}
      <span class="compass__title compass__title--right">4</span>
    </div>
    <div class="text-center">
      <h2>Seems that you're lost</h2>
      <p>This page doesn't exist. Please use the following link to go back to our homepage.</p>
      <a class="btn btn--primary" href="/">Go Home</a>
    </div>
  </div>
</section>

{{>footer}}

<script type="text/javascript">
  window.addEventListener('DOMContentLoaded', function() {
    var navbar = document.querySelector('.navbar');
    new Toolkit.Navbar(navbar);
  });
</script>
