---
title: Article
---

{{>navbar.secondary navbarClass="navbar--plain" back="Back to blog" backUrl="/example-pages/blog.html"}}

{{#with (random liipers) as |liiper|}}
  <section Class="section">
    <div class="section__body">
      {{>image-branded image="/assets/fabricator/images/hero/1.jpg" alt="Happy Liipers who just won the Best of Swiss Web gold award in creation" class="mrgb md-mrgb+ lg-mrgb++"}}

      <article class="article">
        <header>
         <h1>Liip wins at Best of Swiss Web 2017!</h1>
          <ul class="list-inline">
            <li><time datetime="2017-04-07" pubdate="pubdate" class="text-bold">April 7, 2017</time></li>
            <li>{{liiper.name}}</li>
          </ul>
        </header>

        <p class="text-lead">389 submitted projects – 86 of those shortlisted – and 10 candidates for the master. Right in the middle? Liip with its projects for FREITAG, the Schaffhauser Kantonalbank, and opentransportdata.swiss.</p>

        <h2>Freitag content & e-commerce plattform Neo</h2>
        <h3>Gold in the Creation category, Silver in the Business und Mobile Web categories, and Bronze in the category Marketing</h3>

        <p>The new FREITAG website had to tick a lot of boxes: global distribution, diversification, an online store as unique as the products it sells, and a central communication channel. All these are combined in the new content & e-commerce platform. By linking stories written by several authors with FREITAG products, the platform succeeds to make online shopping an experience for every user. This versatility persuaded the jury of Best of Swiss Web, which listed the project as a candidate for the Master of Swiss Web 2017 and awarded it in four categories.</p>

        <p><a href="https://www.freitag.ch">www.freitag.ch</a></p>

        <h2>Schaffhauser Kantonalbank, website relaunch</h2>
        <h3>Bronze in the Marketing, Usability and Mobile Web categories</h3>

        <p>With the relaunch of its website, the Schaffhauser Kantonalbank moves the user into the center with an improved navigation, intuitive search, and a visually revised appearance. The easily accessible information and the integrated ordering process for products and services of the Schaffhauser Kantonalbank won the jury over which led to bronze in the three categories.</p>

        <p><a href="https://www.shkb.ch">www.shkb.ch</a></p>

        <h2>Opentransportdata.swiss – offene Daten im öffentlichen Verkehr</h2>
        <h3>Bronze in the Public Affairs category</h3>

        <p>The offering of the Swiss public transportation service is one of the best in Europe. It’s obvious, that it can’t be extended forever, but it can be improved digitally. For that purpose, the new platform opentransportdata.swiss provides support with more than 6 gigabytes in data sets and offers a basis for more open innovation in the public transportation area. The jury was convinced and priced the project with bronze in the Public Affairs category.</p>

        <p><a href="https://www.opentransportdata.swiss">www.opentransportdata.swiss</a></p>

        <p>Congratulations to Ticketfrog.ch and MySign for the Master of Swiss Web 2017!</p>

        <footer class="mrgt+ lg-mrgt++">
          {{>liiper-card.default liiper=liiper}}
          <ul class="list-inline list-inline--tiny mrgt+ lg-mrgt++">
            <li>{{>tag.default text="News"}}</li>
            <li>{{>tag.default text="Awards"}}</li>
            <li>{{>tag.default text="Freitag"}}</li>
            <li>{{>tag.default text="SHKB"}}</li>
            <li>{{>tag.default text="OpenTransportData"}}</li>
          </ul>
        </footer>
      </article>
    </div>
  </section>
{{/with}}

<hr>

<section class="section">
  <div class="section__body">
    {{>article-cards-list}}
  </div>
</section>

<section class="section">
  <div class="section__body">
    <h1 class="text-center mrgb+ md-mrgb++">Get in touch</h1>
    {{>contact-form.personal liiper=liiper}}
  </div>
</section>

{{>footer}}
