---
title: Home
---

{{>navbar.default class="navbar--sticky" home="true"}}

<section class="section section--fit section--behind-navbar">
  <div class="section__body">
    <div class="grid grid--tight">
      <div class="grid__item md-w-2/3 lg-w-1/2">
        {{>haiku.single}}
      </div>
    </div>
  </div>
  <div class="section__continue">
    {{>icon id="chevron-down" class="icon--100 md-icon--200"}}
  </div>
</section>

<section class="section">
  <div class="section__body">
    {{>accordion.default}}
  </div>
</section>

<section class="section">
  <div class="section__body">
    <h1>Digital product expertise</h1>
    {{>services-tiles}}
  </div>
</section>

<section class="section">
  <div class="section__body">
    <div class="grid">
      <div class="grid__item md-w-1/3">
        <a href="#"><img src="/assets/fabricator/images/news/1.jpg" alt="News illustration 1" class="img-block mrgb-"></a>
        <a href="#" class="label"><span class="label__body">Mobile</span></a>
        <h3 class="mrgt-"><a href="#" class="link-text">Fairtiq smart ticket</a></h3>
        <p class="mrgt0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="grid__item md-w-1/3">
        <a href="#"><img src="/assets/fabricator/images/news/2.jpg" alt="News illustration 2" class="img-block mrgb-"></a>
        <a href="#" class="label"><span class="label__body">Agile</span></a>
        <h3 class="mrgt-"><a href="#" class="link-text">Nouveau site Sel des Alpes</a></h3>
        <p class="mrgt0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
      </div>
      <div class="grid__item md-w-1/3">
        <a href="#"><img src="/assets/fabricator/images/news/3.jpg" alt="News illustration 3" class="img-block mrgb-"></a>
        <a href="#" class="label"><span class="label__body">API</span></a>
        <h3 class="mrgt-"><a href="#" class="link-text">Migros API et recherche de produits</a></h3>
        <p class="mrgt0">Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="section__body">
    <h2 class="mrgb0">Looking good?</h2>
    {{>contact-form}}
  </div>
</section>

{{>footer}}

<script type="text/javascript">
  window.addEventListener('DOMContentLoaded', function() {
    var navbar = document.querySelector('.navbar');
    new Toolkit.Navbar(navbar);
  });
</script>
