<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Home &middot; Liip Styleguide</title>

  <link rel="stylesheet" href="{{baseurl}}/assets/toolkit/styles/toolkit.css">
</head>
<body>
  {{#icons}}{{/icons}}

  {{>navbar.negative class="navbar--sticky"}}

  <div class="section-spacer">
    <section class="section section--negative section--fit section--fixed section--behind-navbar">
      <canvas id="section-multiplier" class="section__bg"></canvas>
      <div class="section__body">
        {{>haiku.negative}}
      </div>
    </section>
  </div>

  <section class="section section--alt">
    <div class="section__body">
      <h1>Digital product expertise</h1>
      {{>services-tiles}}
    </div>
  </section>

  <section class="section section--dark">
    <div class="section__body">
      <h1>We could put a contact form here</h1>
    </div>
  </section>

  <section class="section">
    <div class="section__body">
      <div class="grid grid--large">
        <div class="grid__item w-1/5">
          {{>address city="Lausanne" id="2659994" level="300" skipinit=true}}
        </div>
        <div class="grid__item w-1/5">
          {{>address city="Fribourg" id="2660718" level="400" skipinit=true}}
        </div>
        <div class="grid__item w-1/5">
          {{>address city="Bern" id="2661552" level="500" skipinit=true}}
        </div>
        <div class="grid__item w-1/5">
          {{>address city="Zürich" id="6295494" level="600" skipinit=true}}
        </div>
        <div class="grid__item w-1/5">
          {{>address city="St Gallen" id="2658822" level="700" skipinit=true}}
        </div>
      </div>
    </div>
  </section>

  <script src="{{baseurl}}/assets/toolkit/scripts/toolkit.js"></script>
  <script type="text/javascript">
    window.addEventListener('DOMContentLoaded', function() {
      var multiplier = document.querySelector('#section-multiplier');
      new Toolkit.Multiplier(multiplier, '/assets/toolkit/images/multiplier.png');

      var navbar = document.querySelector('.navbar');
      new Toolkit.Navbar(navbar, { mode: 'window' });

      var weather = new Toolkit.Weather('169cbfccef2ed05a196994895bcd9465');
      weather.initAll();
    });
  </script>
</body>
</html>
