---
title: Home
---

{{>navbar.default navbarClass="navbar--sticky" home="true"}}

<section class="section section--fit section--behind-navbar">
  <div class="section__body">
    <div class="grid grid--tight">
      <div class="grid__item md-w-2/3 lg-w-1/2">
        {{>haiku.single}}
      </div>
    </div>
  </div>
  <div class="section__continue">
    {{>icon id="chevron-down" class="icon--100 md-icon--200"}}
  </div>
</section>

<section class="section">
  <div class="section__body">
    {{>accordion.default}}
  </div>
</section>

<section class="section section--wide">
  <div class="section__body">
    {{>expertises-tiles}}
  </div>
</section>

<section class="section">
  <div class="section__body">
    <h1 class="text-center mrgb+">Get in touch</h1>
    {{>contact-form.default}}
  </div>
</section>

{{>footer}}

<script type="text/javascript">
  window.addEventListener('DOMContentLoaded', function() {
    var navbar = document.querySelector('.navbar');
    new Toolkit.Navbar(navbar);
  });
</script>
