---
title: Team
---

{{>navbar.secondary navbarClass="navbar--plain" back="Back to team" backUrl="/example-pages/team.html"}}

{{#with (random liipers) as |liiper|}}
<section class="section">
  <div class="section__body">
    {{>image-branded image=liiper.avatar.large alt=liiper.name}}

    <article class="article md-mrgt+ lg-mrgt++">
      <h1 class="mrgb-">{{liiper.name}}</h1>
      <p class="mrgt0 text-bold">Awesome liiper</p>
      <p class="text-lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur libero iure nisi similique quaerat assumenda itaque facere quibusdam ex fugit recusandae error consectetur aut praesentium corporis eos, ea, voluptas reiciendis tenetur cupiditate accusantium. Sit, dolores obcaecati iusto, minus pariatur nihil ipsum ipsam architecto, autem recusandae incidunt debitis illum aliquid quae.</p>

      <ul class="list-inline list-inline--large mrgt+">
        <li>
          <a href="#" class="link-text" title="Facebook">
            {{> icon id="facebook" class="icon--100 md-icon--150"}}
          </a>
        </li>
        <li>
          <a href="#" class="link-text" title="Twitter">
            {{> icon id="twitter" class="icon--100 md-icon--150"}}
          </a>
        </li>
        <li>
          <a href="#" class="link-text" title="Instagram">
            {{> icon id="instagram" class="icon--100 md-icon--150"}}
          </a>
        </li>
        <li>
          <a href="#" class="link-text" title="GitHub">
            {{> icon id="github" class="icon--100 md-icon--150"}}
          </a>
        </li>
      </ul>
    </article>
  </div>
</section>
{{/with}}

<section class="section">
  <div class="section__body">
    {{>article-cards-list}}
  </div>
</section>

<section class="section">
  <div class="section__body">
    {{>contact-form.personal}}
  </div>
</section>

{{>footer}}
