---
title: Work
---

{{>navbar.default class="navbar--floating" work="true"}}

<section class="section section--light section--tight section--behind-navbar">
  <div class="section__body">
    {{>reel}}
  </div>
</section>

<section class="section section--middle">
  <div class="section__body">
    {{>showcase}}
  </div>
</section>

<section class="section section--middle section--alt">
  <div class="section__body">
    {{>showcase}}
  </div>
</section>

<section class="section section--middle">
  <div class="section__body">
    {{>showcase}}
  </div>
</section>

{{>footer}}
