---
title: Work
---

{{>navbar.default class="navbar--sticky" work="true"}}

<section class="section section--behind-navbar section--spaced section--middle">
  <div class="section__body">
    {{>showcase}}
  </div>
</section>

<section class="section section--spaced section--middle">
  <div class="section__body">
    {{>showcase}}
  </div>
</section>

<section class="section section--spaced section--middle">
  <div class="section__body">
    {{>showcase}}
  </div>
</section>

<section class="section">
  <div class="section__body">
    <h2 class="text-center mrgb+">Clients we work with</h2>
    {{>clients-list}}
  </div>
</section>

{{>footer}}

<script type="text/javascript">
  window.addEventListener('DOMContentLoaded', function() {
    var navbar = document.querySelector('.navbar');
    new Toolkit.Navbar(navbar);
  });
</script>
