{{>navbar.default class="navbar--sticky" work="true"}}

<section class="section section--fit section--middle">
  <div class="section__body">
    <div class="grid grid--huge grid--middle">
      <div class="grid__item md-w-1/2">
        <img src="/assets/toolkit/images/showcase.png" class="img-responsive">
      </div>
      <div class="grid__item md-w-1/2 mrgt md-mrgt0">
        {{>service-tag}}
        <h1 class="mrgv">Agile development for Freitag</h1>
        <a href="#" class="btn btn--primary">Read our case study</a>
      </div>
    </div>
  </div>
</section>

<section class="section section--fit section--middle section--alt">
  <div class="section__body">
    <div class="grid grid--huge grid--middle">
      <div class="grid__item md-w-1/2">
        <img src="/assets/toolkit/images/showcase.png" class="img-responsive">
      </div>
      <div class="grid__item md-w-1/2 mrgt md-mrgt0">
        {{>service-tag}}
        <h1 class="mrgv">Agile development for Freitag</h1>
        <a href="#" class="btn btn--primary">Read our case study</a>
      </div>
    </div>
  </div>
</section>

<section class="section section--fit section--middle">
  <div class="section__body">
    <div class="grid grid--huge grid--middle">
      <div class="grid__item md-w-1/2">
        <img src="/assets/toolkit/images/showcase.png" class="img-responsive">
      </div>
      <div class="grid__item md-w-1/2 mrgt md-mrgt0">
        {{>service-tag}}
        <h1 class="mrgv">Agile development for Freitag</h1>
        <a href="#" class="btn btn--primary">Read our case study</a>
      </div>
    </div>
  </div>
</section>

{{>footer}}

<script type="text/javascript">
  window.addEventListener('DOMContentLoaded', function() {
    var navbar = document.querySelector('.navbar');
    new Toolkit.Navbar(navbar);
  });
</script>
