/*----------------------------------------*\
  FONTS
\*----------------------------------------*/

@font-face {
  font-family: 'Liip Etica';
  src: url('../fonts/LFT_Etica_Book_Liip.woff2') format('woff2'),
       url('../fonts/LFT_Etica_Book_Liip.woff') format('woff');
}

@font-face {
  font-family: 'Liip Etica';
  font-weight: 500;
  src: url('../fonts/LFT_Etica_Semibold_Liip.woff2') format('woff2'),
       url('../fonts/LFT_Etica_Semibold_Liip.woff') format('woff');
}

@font-face {
  font-family: 'Liip Etica';
  font-weight: 700;
  src: url('../fonts/LFT_Etica_Bold_Liip.woff2') format('woff2'),
       url('../fonts/LFT_Etica_Bold_Liip.woff') format('woff');
}

@font-face {
  font-family: 'Liip Etica';
  font-style: italic;
  src: url('../fonts/LFT_Etica_Book_Italic_Liip.woff2') format('woff2'),
       url('../fonts/LFT_Etica_Book_Italic_Liip.woff') format('woff');
}
