/*----------------------------------------*\
  FORMS
\*----------------------------------------*/

.field {
  text-overflow: ellipsis;

  &[disabled] {
    border-color: $warm-grey-200;
  }

  &::placeholder {
    color: $warm-grey-400;
    opacity: 1;
  }
}

select.field {
  appearance: none;

  padding-right: 32px;

  background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M4%207h16l-8%2010z%22%20fill%3D%22%23C0C1BC%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: calc(100% - 4px) center;
  background-size: 20px;
  cursor: pointer;

  &:focus {
    background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M4%207h16l-8%2010z%22%20fill%3D%22%236E6E64%22%2F%3E%3C%2Fsvg%3E');
  }

  // Hide select arrow on IE/Edge
  &::-ms-expand {
    display: none;
  }

  // Remove dotted outline on Firefox
  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
}

select.field--primary {
  background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M4%207h16l-8%2010z%22%20fill%3D%22%236EA644%22%2F%3E%3C%2Fsvg%3E');

  &:focus {
    background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M4%207h16l-8%2010z%22%20fill%3D%22%23A4C339%22%2F%3E%3C%2Fsvg%3E');
  }
}

.field--primary {
  color: $green-700;
  border-color: $green-700;

  &:focus {
    color: $green-400;
    border-color: $green-400;
  }
}

.field--ghost {
  padding-left: 0;

  background-color: transparent;
  border-top-color: transparent;
  border-right: 0;
  border-left: 0;

  &:focus {
    border-top-color: transparent;
  }
}

.field--search {
  padding-right: $spacing-unit-large;

  background-image: url('data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%2024%2024%22%3E%3Cpath%20fill=%22#C0C1BC%22%20d=%22M23.71,22.29l-8.54-8.54a8.52,8.52,0,1,0-1.41,1.41l8.54,8.54a1,1,0,0,0,1.41-1.41ZM2,8.5A6.5,6.5,0,1,1,8.5,15,6.51,6.51,0,0,1,2,8.5Z%22/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
  background-size: 24px;
  cursor: pointer;

  &:focus {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%2024%2024%22%3E%3Cpath%20fill=%22#6E6E64%22%20d=%22M23.71,22.29l-8.54-8.54a8.52,8.52,0,1,0-1.41,1.41l8.54,8.54a1,1,0,0,0,1.41-1.41ZM2,8.5A6.5,6.5,0,1,1,8.5,15,6.51,6.51,0,0,1,2,8.5Z%22/%3E%3C/svg%3E');
  }

  &.field--primary {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%2024%2024%22%3E%3Cpath%20fill=%22#6EA644%22%20d=%22M23.71,22.29l-8.54-8.54a8.52,8.52,0,1,0-1.41,1.41l8.54,8.54a1,1,0,0,0,1.41-1.41ZM2,8.5A6.5,6.5,0,1,1,8.5,15,6.51,6.51,0,0,1,2,8.5Z%22/%3E%3C/svg%3E');

    &:focus {
      background-image: url('data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%2024%2024%22%3E%3Cpath%20fill=%22#A4C339%22%20d=%22M23.71,22.29l-8.54-8.54a8.52,8.52,0,1,0-1.41,1.41l8.54,8.54a1,1,0,0,0,1.41-1.41ZM2,8.5A6.5,6.5,0,1,1,8.5,15,6.51,6.51,0,0,1,2,8.5Z%22/%3E%3C/svg%3E');
    }
  }
}
