/*----------------------------------------*\
  TYPOGRAPHY
\*----------------------------------------*/

/**
 * Headings
 */

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 500;
}

h1,
.h1 {
  font-size: rem(36px);
  font-weight: 700;
}

h2,
.h2 {
  font-size: rem(26px);
}

h3,
.h3 {
  font-size: rem(22px);
}

h4,
.h4 {
  font-size: rem(18px);
}

h5,
.h5 {
  font-size: rem(16px);
}

h6,
.h6 {
  font-size: rem(14px);
}

@include media('md') {
  h1,
  .h1 {
    font-size: rem(52px);
    font-weight: 700;
  }

  h2,
  .h2 {
    font-size: rem(30px);
  }

  h3,
  .h3 {
    font-size: rem(24px);
  }

  h4,
  .h4 {
    font-size: rem(20px);
  }
}


/**
 * Paragraphs
 */

p {
  margin-top: $spacing-unit-small;
  margin-bottom: $spacing-unit-small;
}

.text-lead {
  color: $warm-grey-700;
  font-size: rem(24px);
  line-height: 1.5;

  @include media('md') {
    font-size: rem(20px);
  }
}


/**
 * Links
 */

a {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.link-text {
  color: $web-black;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $warm-grey-700;
  }
}


/**
 * Code and preformatted text
 */

pre,
code {
  color: $web-white;
  font-size: rem(14px);

  border-radius: 0;
  background-color: $web-black;

  tab-size: 2;

  &::selection,
  ::selection {
    background-color: rgba(255,255,255,.18);
    color: inherit;
  }

  &::-moz-selection,
  ::-moz-selection {
    background-color: rgba(255,255,255,.18);
    color: inherit;
  }
}

pre {
  padding: $spacing-unit-small;
  margin-top: $spacing-unit-default;
  margin-bottom: $spacing-unit-default;
}

code {
  display: inline;

  box-shadow: 0 -1px 0 0 $web-black, 0 2px 0 0 $web-black;
}


/**
 * Address
 */

address {
  font-style: normal;
}


/**
 * Quotes
 */

blockquote {
  margin: 0;

  @include spaceless-children();
}

cite {
  font-style: normal;
}


/**
 * Separators
 */

hr {
  margin: $spacing-unit-default 0;

  border: 0;
  border-bottom: 1px solid $warm-grey-200;
}


/**
 * Selection
 */

::selection {
  background-color: $green-400;
  color: white;
}

::-moz-selection {
  background-color: $green-400;
  color: white;
}
