/*----------------------------------------*\
  TYPOGRAPHY
\*----------------------------------------*/

/**
 * Headings
 */

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 500;
}

h1,
.h1 {
  font-size: rem(52px);
  font-weight: 700;
}

h2,
.h2 {
  font-size: rem(30px);
}

h3,
.h3 {
  font-size: rem(24px);
}

h4,
.h4 {
  font-size: rem(20px);
}

h5,
.h5 {
  font-size: rem(16px);
}

h6,
.h6 {
  font-size: rem(14px);
}


/**
 * Links
 */

.link-text {
  color: $web-black;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $warm-grey-700;
  }
}



/**
 * Code and preformatted text
 */

code {
  color: white;
  background-color: $warm-grey-600;
  border-radius: 2px;
}


/**
 * Address
 */

address {
  font-style: normal;
}


/**
 * Selection
 */

::selection {
  background-color: $green-400;
  color: white;
}

::-moz-selection {
  background-color: $green-400;
  color: white;
}
