/*----------------------------------------*\
  ACCORDION
\*----------------------------------------*/

.accordion {
  display: flex;
  align-items: center;
  position: relative;

  @include media('md', $breakpoints-desc) {
    min-height: auto !important;
  }
}

  .accordion__body {
    display: flex;
    align-items: center;

    @include media('md', $breakpoints-desc) {
      flex-direction: column;
    }
  }

  .accordion__toggle {
    color: $warm-grey-500;
    text-decoration: none;

    transition: all .3s;

    &:hover,
    &:focus {
      color: $web-black;

      .accordion--negative & {
        color: $web-white;
      }
    }
  }

  .accordion__collapse {
    transition: height .5s;
    overflow: hidden;

    @include spaceless-children();
  }

.accordion--negative {
  color: $web-white;
}


/**
 * List
 */

.accordion-list {
  @extend %list;
}

  .accordion-list__title {
    margin-bottom: 0;
    @include wrap-words();
  }

  .accordion-list__item  {
    padding-top: 11px;
    padding-bottom: 11px;

    &.is-active {
      .accordion__toggle {
        font-size: 150%;
        font-weight: 700px;
        color: $brand-color;

        .accordion--negative & {
          color: inherit;
        }
      }
    }

    &:not(.is-active) .accordion__collapse.is-ready {
      height: 0 !important;
    }

    @include spaceless-children();
  }


/**
 * Playground
 */

.accordion-playground {
  min-width: 45%;
  margin-left: $spacing-unit-default;
  margin-bottom: 0;

  @include media('md', $breakpoints-desc) {
    display: none;
  }
}


/**
 * Navigation
 */

.accordion-nav {
  @extend %list;

  padding: 6px;
  margin-left: $spacing-unit-default;

  border-radius: 15px;
  background-color: rgba(0,0,0,0.1);

  > li + li {
    margin-top: 5px;
  }

  @include media('md', $breakpoints-desc) {
    position: sticky;
    top: $spacing-unit-huge;
    bottom: $spacing-unit-default;
  }
}

  .accordion-nav__link {
    display: block;
    width: 20px;
    height: 20px;

    position: relative;
    cursor: pointer;

    &::after {
      content: '';
      display: block;
      width: 6px;
      height: 6px;

      position: absolute;
      top: 50%;
      left: 50%;

      border-radius: 50%;

      border: 2px solid transparent;
      background-color: rgba(0,0,0,0.33);
      transform: translate(-50%, -50%);
      transition: all 0.3s cubic-bezier(.32,.63,.43,1.34);
    }

    &:hover,
    &:focus,
    &.is-active {
      &::after {
        width: 20px;
        height: 20px;
        background-color: transparent;
        border: 2px solid rgba(0,0,0,0.33);
      }
    }

    &.is-active::after {
      border-color: $white;
    }
  }
