/*----------------------------------------*\
  ADDRESS
\*----------------------------------------*/

.address {
  color: $green-700;
}

.address--300 {
  color: $green-300;
}
.address--400 {
  color: $green-400;
}
.address--500 {
  color: $green-500;
}
.address--600 {
  color: $green-600;
}
.address--700 {
  color: $green-700;
}

  .address__weather {
    padding-bottom: $spacing-unit-small;
    margin-bottom: $spacing-unit-small;

    border-bottom: 2px solid;
  }

  .address__title {
    margin-top: 0;

    color: $text-color;
  }

  .address__body {
    color: $text-color;
  }

  .address__map-link {
    display: inline-block;
    margin-top: $spacing-unit-small;

    font-size: rem(14px);
    font-weight: 500;
    color: inherit;
    text-transform: uppercase;

    &:hover,
    &:focus {
      opacity: .7;
    }
  }
