/*----------------------------------------*\
  BRAND
\*----------------------------------------*/

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

  .brand__img {
    max-height: 80px;
  }
