/*----------------------------------------*\
  BUTTON
  @extend Kanbasu
\*----------------------------------------*/

.btn {
  font-weight: 500;

  &:hover,
  &:focus {
    color: $warm-grey-700;
  }
}

.btn--default,
.btn--primary {
  &:hover,
  &:focus,
  &:active {
    color: $white;
  }
}

.btn--default {
  border-color: $btn-default-color;
}

.btn--primary {
  border-color: $btn-primary-color;

  &:hover,
  &:focus {
    background-image: linear-gradient(to right, $green-700 50%, $green-400);
  }

  &:active {
    background-image: none;
    background-color: $green-400;
  }
}
