/*----------------------------------------*\
  BUTTON
  @extend Kanbasu
\*----------------------------------------*/

.btn {
  font-weight: 500;
}

.btn--default,
.btn--primary,
.btn--negative {
  background-size: 100% 0;
  background-color: transparent;
  background-position: bottom center;
  background-repeat: no-repeat;
  transition-property: background-size, color;
  transition-duration: .3s;

  &:not([disabled]):hover,
  &:not([disabled]):focus,
  &:not([disabled]):active {
    color: $white;

    background-size: 100% 100%;
  }

  &:not([disabled]):active {
    background-image: none;
  }
}

.btn--negative {
  color: $web-white;
  border-color: $web-white;

  background-image: linear-gradient(to top, $web-white, $web-white);

  &:not([disabled]):hover,
  &:not([disabled]):focus,
  &:not([disabled]):active {
    color: $web-black;
  }
}

.btn--default {
  border-color: $text-color;

  background-image: linear-gradient(to top, $text-color, $text-color);
}

.btn--primary {
  border-color: $brand-color;

  background-image: linear-gradient(to top, $brand-color, $brand-color);
}
