/*----------------------------------------*\
  CONTACT FORM
\*----------------------------------------*/

.contact-form {}

.contact-form--negative {
  color: $white;
}

  .contact-form__header {
    align-items: baseline;

    .pusher__body {
      margin-right: $spacing-unit-small;
    }

    select {
      height: auto;
      flex: 1 0 50%;
      padding-right: 0.75em;

      background-size: 1.5rem auto;
    }
  }

  .contact-form__aside {
    display: flex;
    flex-direction: column;

    @include media('sm', $breakpoints-desc) {
      margin-top: $spacing-unit-default;
    }
  }

  .contact-form__message {
    min-height: 100%;
  }
