/*----------------------------------------*\
  HAIKU
\*----------------------------------------*/

.haiku {
  line-height: 1.1;
}

  .haiku__intro {
    display: inline-block;
    margin-bottom: $spacing-unit-default;

    color: $brand-color;
    font-weight: 500;
    font-size: rem(14px);
    text-transform: uppercase;

    @supports (-webkit-background-clip: text) {
      -webkit-text-fill-color: transparent;
      background-image: linear-gradient(to right, $green-700 50%, $green-400);
      -webkit-background-clip: text;
    }
  }

  .haiku__title {
    font-weight: 700;
    font-size: rem(32px);
  }

  .haiku__list {
    font-weight: 700;
    font-size: rem(28px);
  }

  .haiku__number {
    color: $brand-color;
  }

@include media('md') {
  .haiku__title {
    font-size: rem(42px);
  }
}
