/*----------------------------------------*\
  ICON
\*----------------------------------------*/

.icon {
  display: inline-block;
  vertical-align: middle;

  fill: currentColor;
}

  .icon--large {
    width: 32px;
    height: 32px;
  }
