/*----------------------------------------*\
  LIIPER CARD
\*----------------------------------------*/

.liiper-card {}

a.liiper-card {
  &:hover,
  &:focus {
    text-decoration: none;

    .liiper-card__avatar {
      transform: scale(1.1627907);
    }
  }
}

  .liiper-card__avatar {
    width: 64px;
    height: 64px;

    transition: transform .2s cubic-bezier(.32,.63,.43,1.34);
    will-change: transform;

    @include media('lg') {
      width: 86px;
      height: 86px;
    }
  }

  .liiper-card__name {
    margin-bottom: $spacing-unit-tiny;

    color: $web-black;
    font-weight: 500;
    line-height: 1.3;
  }

  .liiper-card__role {
    line-height: 1.3;
  }

.liiper-card--small {
  .liiper-card__avatar {
    width: 50px;
    height: 50px;
  }
}

.liiper-card--large {
  @include media('sm') {
    .liiper-card__avatar {
      width: 86px;
      height: 86px;
    }

    .liiper-card__name {
      font-size: rem(32px);
    }
  }
  @include media('md') {
    .media__left {
      margin-right: $spacing-unit-large;
    }
  }
  @include media('lg') {
    .liiper-card__avatar {
      width: 136px;
      height: 136px;
    }

    .liiper-card__name {
      font-size: rem(42px);
    }
  }
  @include media('xl') {
    .liiper-card__avatar {
      width: 180px;
      height: 180px;
    }
  }
}

a.liiper-card--large {
  &:hover,
  &:focus {
    .liiper-card__avatar {
      transform: scale(1.1);
    }
  }
}
