/*----------------------------------------*\
  LOGO
\*----------------------------------------*/

.logo {
  display: inline-block;

  color: $web-black;
  font-size: rem(24px);
  vertical-align: middle;

  transform-origin: left center;

  svg {
    float: left;
    fill: currentColor;

    transition-property: fill, opacity, transform;
    transition-duration: .5s;
  }

  &:hover,
  &:focus {
    svg {
      fill: $brand-color;
      transition-duration: .3s;
    }
  }
}

  .logo__L {
    width: 1.335em;
  }

  .logo__II {
    width: 2.6044em;
  }

  .logo__P {
    width: 1.465em;
  }

.logo--shrinked {
  svg {
    transform: translateX(-1.335em);
  }

  .logo__L,
  .logo__P {
    opacity: 0;
  }
}
