/*----------------------------------------*\
  NAVBAR
\*----------------------------------------*/

.navbar {
  position: relative;

  color: $web-black;

  transition-property: color, background;
  transition-duration: .5s;

  .navbar__brand {
    flex-shrink: 0;

    color: inherit;

    &:hover,
    &:focus {
      .logo svg {
        fill: $brand-color;
        transition-duration: .3s;
      }
    }

    &:focus {
      outline: none;
    }
  }

  .logo {
    color: inherit;
    font-size: rem(10px);
  }

  @include media('md') {
    .logo {
      font-size: rem(24px);
    }
  }
}

  .navbar__body {
    width: 100%;
    max-width: calc(#{$container-max-width} + #{$spacing-unit-huge*2});
    height: $navbar-height-xs;
    margin-left: auto;
    margin-right: auto;
    padding-left: $spacing-unit-default;
    padding-right: $spacing-unit-default;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media('md') {
      height: $navbar-height-md;
      padding-left: $spacing-unit-large;
      padding-right: $spacing-unit-large;
    }

    @include media('lg') {
      height: $navbar-height-lg;
      padding-left: $spacing-unit-huge;
      padding-right: $spacing-unit-huge;
    }
  }

  .navbar__collapse {
    @include media('xs', $breakpoints-desc) {
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      z-index: 101;

      background-color: rgba(255,255,255,.9);
      border-top: 1px solid $warm-grey-200;
      box-shadow: 0 3px 3px rgba(0,0,0,.1);
      backdrop-filter: blur(3px);

      .navbar-menu {
        padding: $spacing-unit-small;
      }
    }

    @include media('sm') {
      max-width: none;
      height: auto;
    }
  }

  .navbar__toggle {
    display: inline-block;

    color: $web-black;

    transition-property: color, background;
    transition-duration: .3s;

    &:hover,
    &:focus {
      color: $brand-color;
    }

    @include media('sm') {
      display: none;
    }
  }

.navbar--floating,
.navbar--sticky {
  width: 100%;

  position: absolute;
  z-index: 100;
}

.navbar--secondary {
  .navbar__body {
    @include media('md') {
      height: 115px;
    }
  }
}

.navbar--sticky {
  position: fixed;
}

.navbar--negative {
  color: white;

  .navbar__brand {
    &:hover,
    &:focus {
      .logo svg {
        fill: rgba(255,255,255,.6);
      }
    }
  }

  .navbar__toggle,
  .navbar-menu__link {
    color: white; // We can’t inherit otherwise transition gets delayed by parent transition

    &:hover,
    &:focus {
      color: rgba(255,255,255,.6);
    }
  }
}

.navbar--plain {
  background-color: rgba(255,255,255,.5);
  border-bottom: 1px solid $warm-grey-300;
}

.navbar--overlay {
  color: $web-black;

  background-color: rgba(255,255,255,.9);
}

@include media('sm', $breakpoints-desc) {
  .navbar--expanded {
    color: $web-black;

    background-color: rgba(255,255,255,.9);
    backdrop-filter: blur(3px);
  }
}


/**
 * Hamburger
 */

.navbar-hamburger {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}
  .navbar-hamburger__first,
  .navbar-hamburger__third {
    transform-origin: 12px 12px;
    transition: transform .3s;
  }
  .navbar-hamburger__second {
    transition: opacity .3s;
  }

  .navbar__toggle.active {
    .navbar-hamburger__first {
      transform: rotate(-45deg) translateY(6px);
    }
    .navbar-hamburger__second {
      opacity: 0;
    }
    .navbar-hamburger__third {
      transform: rotate(45deg) translateY(-6px);
    }
  }


/**
 * Menu
 */

.navbar-menu {
  @extend %list;
  text-align: center;

  > li {
    @include media('sm') {
      display: inline-block;

      + li {
        margin-left: $spacing-unit-large;
      }
    }
  }
}

  .navbar-menu__link {
    display: inline-block;
    margin: $spacing-unit-tiny 0;

    color: $web-black; // We can’t inherit otherwise transition gets delayed by parent transition
    font-size: rem(20px);
    font-weight: 700;
    text-align: center;

    border-top: 3px solid transparent; // Compensate bottom for perfect vertical-alignment
    border-bottom: 3px solid rgba(255,255,255,0);
    transition-property: color, border, font-size, line-height;
    transition-duration: .5s;

    &:hover,
    &:focus {
      color: $brand-color;
      text-decoration: none;
      transition-duration: .3s;
    }

    &:focus {
      outline: none;
    }

    @include media('sm') {
      .navbar--shrinked & {
        border-bottom-width: 2px;
        font-size: rem(18px);
        line-height: 1.2;
      }
    }

    @include media('md') {
      font-size: rem(24px);
    }

    &.is-active {
      color: $brand-color;

      border-bottom-color: currentcolor;

      @include media('sm') {
        .navbar--negative & {
          color: white;
        }
      }
    }
  }
