/*----------------------------------------*\
  NAVBAR
\*----------------------------------------*/

.navbar {
  height: $navbar-height-small;
  color: $text-color;

  position: relative;

  transition-property: color, background;
  transition-duration: .5s;

  .navbar__brand {
    flex-shrink: 0;

    color: inherit;
    transition: opacity .3s;

    &:hover,
    &:focus {
      opacity: .7;
    }
  }

    .logo {
      font-size: rem(10px);
    }

  @include media('md') {
    height: $navbar-height;

    .logo {
      font-size: rem(24px);
    }
  }
}

  .navbar__body {
    height: 100%;
    padding-left: $spacing-unit-small;
    padding-right: $spacing-unit-small;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media('sm') {
      padding-left: $spacing-unit-default;
      padding-right: $spacing-unit-default;
    }

    @include media('md') {
      padding-left: $spacing-unit-large;
      padding-right: $spacing-unit-large;
    }

    @include media('lg') {
      padding-left: $spacing-unit-huge;
      padding-right: $spacing-unit-huge;
    }
  }

  .navbar__collapse {
    @include media('sm', $breakpoints-desc) {
      padding-top: $spacing-unit-tiny;
      padding-bottom: $spacing-unit-tiny;

      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      z-index: 101;

      color: $text-color;

      background-color: rgba(255,255,255,.9);
      border-top: 1px solid $warm-grey-200;

      transform: scaleY(0);
      transform-origin: top right;
      opacity: 0;
      transition-property: transform opacity;
      transition-duration: .3s;

      .navbar--expanded & {
        opacity: 1;
        transform: scaleY(1);
      }
    }
  }

  .navbar__toggle {
    display: inline-block;

    @include media('md') {
      display: none;
    }
  }

.navbar--floating,
.navbar--sticky {
  width: 100%;

  position: absolute;
  z-index: 100;
}

.navbar--sticky {
  position: fixed;
}

.navbar--negative {
  color: $web-white;
}

.navbar--overlay {
  color: $web-black;

  background-color: rgba(255, 255, 255, .9);
}

@include media('sm', $breakpoints-desc) {
  .navbar--expanded {
    color: $web-black;

    background-color: rgba(255, 255, 255, .9);
  }
}


/**
 * Hamburger
 */

.navbar-hamburger {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}
  .navbar-hamburger__first,
  .navbar-hamburger__third {
    transform-origin: 50% 50%;
    transition: transform .3s ease;
  }
  .navbar-hamburger__second {
    transition: opacity .3s ease;
  }

  .navbar--expanded {
    .navbar-hamburger__first {
      transform: translateY(6px) rotate(-45deg);
    }
    .navbar-hamburger__second {
      opacity: 0;
    }
    .navbar-hamburger__third {
      transform: translateY(-6px) rotate(45deg);
    }
  }


/**
 * Menu
 */

.navbar-menu {
  > li {
    @include media('md') {
      display: inline-block;

      + li {
        margin-left: $spacing-unit-large;
      }
    }
  }
}

  .navbar-menu__link {
    display: block;
    padding: $spacing-unit-tiny $spacing-unit-small;

    color: inherit;
    font-size: rem(20px);
    font-weight: 700;
    text-decoration: none;
    text-align: center;

    border-bottom: 4px solid rgba(255,255,255,0);
    transition: border .3s;

    @include media('md') {
      display: inline-block;
      padding: 0;
      font-size: rem(24px);

      &:focus,
      &:hover {
        border-bottom: 4px solid;
      }
    }

    &.is-active {
      color: $brand-color;

      @include media('md') {
        border-bottom-color: currentcolor;

        .navbar--negative & {
          color: white;
        }
      }
    }
  }
