/*----------------------------------------*\
  QUOTE
\*----------------------------------------*/

.quote {
  display: flex;
  align-items: center;

  @include media('sm', $breakpoints-desc) {
    flex-direction: column;
    align-items: flex-start;
  }
}

  .quote__avatar  {
    width: 180px;
    max-width: 30%;
    margin-bottom: $spacing-unit-default;
    margin-left: $spacing-unit-default;

    @include media('md') {
      margin-bottom: 0;
      margin-left: 0;
      margin-right: $spacing-unit-default;
    }
    @include media('lg') {
      margin-right: $spacing-unit-large;
    }

    > a.avatar {
      transition: transform .2s cubic-bezier(.32,.63,.43,1.34);
      will-change: transform;

      &:hover,
      &:focus {
        transform: scale(1.1627907);
        outline: none;
      }
    }
  }

  .quote__text {
    flex: 1;
    padding-left: $spacing-unit-large;
    padding-right: $spacing-unit-large;

    font-size: rem(32px);
    font-weight: 500;
    line-height: 1.2;

    position: relative;

    p:first-of-type::before,
    p:last-of-type::after {
      color: $brand-color;
      font-size: 1.5em;
      line-height: 0.7;
    }

    p:first-of-type::before {
      content: "«";
      position: absolute;
      left: 0;
    }
    p:last-of-type {
      margin-bottom: $spacing-unit-tiny;

      &::after {
        content: "»";
        margin-left: $spacing-unit-tiny;

        position: absolute;
      }
    }
  }

  .quote__cite {
    display: inline-block;

    color: $muted-color;
    font-weight: normal;
    font-size: $font-size-default;
  }

  .quote__author {
    color: $web-black;
    font-weight: 500;

    transition: color .2s;
  }

  a.quote__author {
    &:hover,
    &:focus {
      color: $brand-color;
      text-decoration: none;
    }
  }
