/*----------------------------------------*\
  REEL
\*----------------------------------------*/

.reel {
  display: flex;

  position: relative;

  background-color: $white;
}

  .reel__body {
    flex: 1;
    overflow: hidden;
  }

    .reel__roll {
      flex-wrap: nowrap;

      white-space: nowrap;
      text-align: center;

      transition: transform .5s ease-in-out;
      will-change: transform;
    }

    .reel__item {
      white-space: normal;
    }

  .reel__previous,
  .reel__next {
    padding: $spacing-unit-tiny;

    @include media('sm', $breakpoints-desc) {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 2;
    }

    color: $warm-grey-800;

    border: none;
    transition: opacity .3s ease-out;

    @include media('md') {
      padding: $spacing-unit-small;
    }

    &:hover,
    &:focus,
    &:active {
      color: $black;
      background-color: $warm-grey-100;
    }

    .icon {
      width: 20px;
      height: 20px;

      @include media('md') {
        width: 32px;
        height: 32px;
      }
    }

    &.btn--disabled {
      opacity: 0;
      pointer-events: none;
    }
  }

  .reel__next {
    right: 0;
    background-image: linear-gradient(to right, transparentize($web-white, 1), $web-white);
  }
  .reel__previous {
    left: 0;
    background-image: linear-gradient(to left, transparentize($web-white, 1), $web-white);
  }
