/*----------------------------------------*\
  REEL
\*----------------------------------------*/

.reel {
  position: relative;
}

  .reel__body {
    overflow: hidden;
  }

    .reel__roll {
      display: flex;
      flex-wrap: nowrap;
      will-change: transform;
    }

    .reel__item {
      flex: 1 0 0;
      min-width: 105px;
      white-space: normal;
    }

  .reel__previous,
  .reel__next {
    padding: 5px;

    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;

    border: none;
    transition: opacity .3s ease-out;
    background-color: rgba(255,255,255,.85);

    &:hover,
    &:focus,
    &:active {
      color: $black;
    }

    .icon {
      width: 18px;
      height: 18px;
    }

    &.btn--disabled {
      opacity: 0;
      pointer-events: none;
    }
  }

  .reel__next {
    right: 0;
  }
  .reel__previous {
    left: 0;
  }
