/*----------------------------------------*\
  SERVICE-TAG
\*----------------------------------------*/

.service-tag {
  @extend %tag;

  padding: 6px 12px;

  background-color: $green-700;

  &::before {
    background-image: linear-gradient(to right, $green-700 50%, $green-400);
  }
}

.service-icon {
  width: 12px;
  height: 10px;
  margin-left: 5px;

  vertical-align: baseline;
}
