/*----------------------------------------*\
  SERVICE TILE
\*----------------------------------------*/

.service-tile {
  display: flex;
  height: 100%;
  overflow: hidden;

  position: relative;

  color: $brand-color;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.2;

  transition-property: background, color, transform;
  transition-duration: .3s;

  &::before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background-image: linear-gradient(45deg, $green-700, $green-400);
    transition: opacity .3s;
    opacity: 0;
  }

  &:hover,
  &:focus {
    color: white;
    text-decoration: none;

    &::after {
      opacity: 1;
    }

    .service-tile__body {
      transform: scale(1.15);
    }
  }

  &:active {
    .service-tile__body {
      transform: scale(1.2);

      @include media('lg') {
        transform: scale(1.4);
      }
    }
  }
}

.service-tile--small {
  font-size: rem(10px);

  @include media('sm') {
    font-size: rem(12px);
  }
}

  .service-tile__body {
    width: 100%;
    padding: $spacing-unit-tiny;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    position: relative;
    z-index: 1;

    transition: transform .3s cubic-bezier(.32,.63,.43,1.34);

    @include media('sm') {
      padding: $spacing-unit-small;
    }
    @include media('md') {
      padding: $spacing-unit-default;
    }

    .service-icon {
      width: 14px;
      height: 12px;
    }
  }

  .service-tile__icon {
    width: 46px;
    height: 46px;

    margin-bottom: 15%;

    .service-tile--small & {
      width: 30px;
      height: 30px;
    }

    @include media('sm') {
      width: 56px;
      height: 56px;

      .service-tile--small & {
        width: 42px;
        height: 42px;
      }
    }

    @include media('md') {
      width: 66px;
      height: 66px;

      .service-tile--small & {
        width: 52px;
        height: 52px;
      }
    }

    @include media('lg') {
      width: 76px;
      height: 76px;

      .service-tile--small & {
        width: 62px;
        height: 62px;
      }
    }
  }
