/*----------------------------------------*\
  SUB-BRAND
\*----------------------------------------*/

.sub-brand {
  display: inline-block;
  padding: 6px 12px;

  color: $white;
  font-size: rem(14px);
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $green-700;
  background-image: linear-gradient(to right, $green-700 50%, $green-400);

  &::after {
    content: '';
    display: inline-block;
    width: 14px;
    height: 12px;
    margin-left: 0.5em;

    background: url('../images/slashes.svg') no-repeat center center;
    background-size: 100% auto;
  }

  &:hover,
  &:focus {
    background-image: none;
  }

  &:active {
    transform: translateY(1px);
  }
}
