/*----------------------------------------*  LIIP STYLEGUIDE SETTINGS
\*----------------------------------------*/
/**
 * Layout
 */
/**
 * Colors
 */
/*----------------------------------------*  KANBASU SETTINGS
\*----------------------------------------*/
/**
 * Colors
 */
/**
 * Typography
 */
/**
 * Spacings
 */
/**
 * Responsiveness
 */
/**
 * Miscellaneous
 */
/*----------------------------------------*  COMPONENTS
\*----------------------------------------*/
/**
 * Buttons
 */
/**
 * Forms
 */
/**
 * Lists
 */
/**
 * Box
 */
/**
 * Widths
 */
/**
 * Media responsive
 */
/**
 * Container
 */
/**
 * Table responsive
 */
.rectangles {
  width: 100%;
  padding-top: 100%;
  position: relative; }

.rectangle {
  width: 4.6%;
  height: 19.8%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #6EA644;
  -webkit-transition: all 1s cubic-bezier(0.41, 1.68, 0.55, 0.89);
  transition: all 1s cubic-bezier(0.41, 1.68, 0.55, 0.89);
  opacity: 0; }

.rectangle--alt {
  background-color: #D0DD2C; }

/* STATE 1 */
.accordion[data-current="1"] .rectangle-1 {
  left: 38.327%;
  top: 29.239%;
  -webkit-transform: translate(-50%, -50%) rotate(-24deg);
          transform: translate(-50%, -50%) rotate(-24deg);
  opacity: 1; }

.accordion[data-current="1"] .rectangle-2 {
  left: 62.575%;
  top: 30.343%;
  -webkit-transform: translate(-50%, -50%) rotate(88deg);
          transform: translate(-50%, -50%) rotate(88deg);
  opacity: 1; }

.accordion[data-current="1"] .rectangle-3 {
  left: 50.543%;
  top: 49.013%;
  -webkit-transform: translate(-50%, -50%) rotate(32deg);
          transform: translate(-50%, -50%) rotate(32deg);
  opacity: 1; }

.accordion[data-current="1"] .rectangle-4 {
  left: 44.362%;
  top: 70.482%;
  -webkit-transform: translate(-50%, -50%) rotate(75deg);
          transform: translate(-50%, -50%) rotate(75deg);
  opacity: 1; }

.accordion[data-current="1"] .rectangle-5 {
  left: 38.327%;
  top: 29.239%;
  -webkit-transform: translate(-50%, -50%) rotate(-24deg);
          transform: translate(-50%, -50%) rotate(-24deg);
  opacity: 0; }

.accordion[data-current="1"] .rectangle-6 {
  left: 62.575%;
  top: 30.343%;
  -webkit-transform: translate(-50%, -50%) rotate(88deg);
          transform: translate(-50%, -50%) rotate(88deg);
  opacity: 0; }

.accordion[data-current="1"] .rectangle-7 {
  left: 50.543%;
  top: 49.013%;
  -webkit-transform: translate(-50%, -50%) rotate(32deg);
          transform: translate(-50%, -50%) rotate(32deg);
  opacity: 0; }

.accordion[data-current="1"] .rectangle-8 {
  left: 28.038%;
  top: 44.5%;
  -webkit-transform: translate(-50%, -50%) rotate(-73deg);
          transform: translate(-50%, -50%) rotate(-73deg);
  opacity: 1; }

.accordion[data-current="1"] .rectangle-9 {
  left: 70.912%;
  top: 59.376%;
  -webkit-transform: translate(-50%, -50%) rotate(-207deg);
          transform: translate(-50%, -50%) rotate(-207deg);
  opacity: 1; }

.accordion[data-current="1"] .rectangle-10 {
  left: 28.038%;
  top: 44.5%;
  -webkit-transform: translate(-50%, -50%) rotate(-73deg);
          transform: translate(-50%, -50%) rotate(-73deg);
  opacity: 0; }

.accordion[data-current="1"] .rectangle-11 {
  left: 70.912%;
  top: 59.376%;
  -webkit-transform: translate(-50%, -50%) rotate(-207deg);
          transform: translate(-50%, -50%) rotate(-207deg);
  opacity: 0; }

/* STATE 2 */
.accordion[data-current="2"] .rectangle-1 {
  left: 34.398%;
  top: 60.665%;
  -webkit-transform: translate(-50%, -50%) rotate(27deg);
          transform: translate(-50%, -50%) rotate(27deg);
  opacity: 1; }

.accordion[data-current="2"] .rectangle-2 {
  left: 44.698%;
  top: 60.665%;
  -webkit-transform: translate(-50%, -50%) rotate(27deg);
          transform: translate(-50%, -50%) rotate(27deg);
  opacity: 1; }

.accordion[data-current="2"] .rectangle-3 {
  left: 54.898%;
  top: 60.665%;
  -webkit-transform: translate(-50%, -50%) rotate(27deg);
          transform: translate(-50%, -50%) rotate(27deg);
  opacity: 1; }

.accordion[data-current="2"] .rectangle-4 {
  left: 65.298%;
  top: 60.665%;
  -webkit-transform: translate(-50%, -50%) rotate(27deg);
          transform: translate(-50%, -50%) rotate(27deg);
  opacity: 1; }

.accordion[data-current="2"] .rectangle-5 {
  left: 34.398%;
  top: 60.665%;
  -webkit-transform: translate(-50%, -50%) rotate(27deg);
          transform: translate(-50%, -50%) rotate(27deg);
  opacity: 0; }

.accordion[data-current="2"] .rectangle-6 {
  left: 44.698%;
  top: 60.665%;
  -webkit-transform: translate(-50%, -50%) rotate(27deg);
          transform: translate(-50%, -50%) rotate(27deg);
  opacity: 0; }

.accordion[data-current="2"] .rectangle-7 {
  left: 54.898%;
  top: 60.665%;
  -webkit-transform: translate(-50%, -50%) rotate(27deg);
          transform: translate(-50%, -50%) rotate(27deg);
  opacity: 0; }

.accordion[data-current="2"] .rectangle-8 {
  left: 44.898%;
  top: 39.265%;
  -webkit-transform: translate(-50%, -50%) rotate(27deg);
          transform: translate(-50%, -50%) rotate(27deg);
  opacity: 1; }

.accordion[data-current="2"] .rectangle-9 {
  left: 54.998%;
  top: 39.265%;
  -webkit-transform: translate(-50%, -50%) rotate(27deg);
          transform: translate(-50%, -50%) rotate(27deg);
  opacity: 1; }

.accordion[data-current="2"] .rectangle-10 {
  left: 44.898%;
  top: 39.265%;
  -webkit-transform: translate(-50%, -50%) rotate(27deg);
          transform: translate(-50%, -50%) rotate(27deg);
  opacity: 0; }

.accordion[data-current="2"] .rectangle-11 {
  left: 54.998%;
  top: 39.265%;
  -webkit-transform: translate(-50%, -50%) otate(27deg);
          transform: translate(-50%, -50%) otate(27deg);
  opacity: 0; }

/* STATE 3 */
.accordion[data-current="3"] .rectangle-1 {
  left: 42.4%;
  top: 56.9%;
  -webkit-transform: translate(-50%, -50%) rotate(0);
          transform: translate(-50%, -50%) rotate(0);
  opacity: 1; }

.accordion[data-current="3"] .rectangle-2 {
  left: 49.9%;
  top: 49.3%;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
  opacity: 1; }

.accordion[data-current="3"] .rectangle-3 {
  left: 57.6%;
  top: 56.9%;
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
          transform: translate(-50%, -50%) rotate(180deg);
  opacity: 1; }

.accordion[data-current="3"] .rectangle-4 {
  left: 50%;
  top: 64.4%;
  -webkit-transform: translate(-50%, -50%) rotate(270deg);
          transform: translate(-50%, -50%) rotate(270deg);
  opacity: 1; }

.accordion[data-current="3"] .rectangle-5 {
  left: 49.9%;
  top: 49.3%;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
  opacity: 0; }

.accordion[data-current="3"] .rectangle-6 {
  left: 49.9%;
  top: 49.3%;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
  opacity: 0; }

.accordion[data-current="3"] .rectangle-7 {
  left: 50%;
  top: 64.4%;
  -webkit-transform: translate(-50%, -50%) rotate(270deg);
          transform: translate(-50%, -50%) rotate(270deg);
  opacity: 0; }

.accordion[data-current="3"] .rectangle-8 {
  left: 44.456%;
  top: 41.827%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  opacity: 1; }

.accordion[data-current="3"] .rectangle-9 {
  left: 55.327%;
  top: 41.756%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  opacity: 1; }

.accordion[data-current="3"] .rectangle-10 {
  left: 55.327%;
  top: 41.756%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  opacity: 0; }

.accordion[data-current="3"] .rectangle-11 {
  left: 55.327%;
  top: 41.756%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  opacity: 0; }

/* STATE 4 */
.accordion[data-current="4"] .rectangle-1 {
  left: 36.5%;
  top: 56.8%;
  -webkit-transform: translate(-50%, -50%) rotate(0);
          transform: translate(-50%, -50%) rotate(0);
  opacity: 1; }

.accordion[data-current="4"] .rectangle-2 {
  left: 44.0%;
  top: 49.2%;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
  opacity: 1; }

.accordion[data-current="4"] .rectangle-3 {
  left: 55.8%;
  top: 56.9%;
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
          transform: translate(-50%, -50%) rotate(180deg);
  opacity: 1; }

.accordion[data-current="4"] .rectangle-4 {
  left: 44.0%;
  top: 64.5%;
  -webkit-transform: translate(-50%, -50%) rotate(270deg);
          transform: translate(-50%, -50%) rotate(270deg);
  opacity: 1; }

.accordion[data-current="4"] .rectangle-5 {
  left: 58.4%;
  top: 49.2%;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
  opacity: 1; }

.accordion[data-current="4"] .rectangle-6 {
  left: 66.1%;
  top: 56.9%;
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
          transform: translate(-50%, -50%) rotate(180deg);
  opacity: 1; }

.accordion[data-current="4"] .rectangle-7 {
  left: 58.4%;
  top: 64.5%;
  -webkit-transform: translate(-50%, -50%) rotate(270deg);
          transform: translate(-50%, -50%) rotate(270deg);
  opacity: 1; }

.accordion[data-current="4"] .rectangle-8 {
  left: 38.529%;
  top: 41.8%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  opacity: 1; }

.accordion[data-current="4"] .rectangle-9 {
  left: 49.327%;
  top: 41.656%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  opacity: 1; }

.accordion[data-current="4"] .rectangle-10 {
  left: 51.698%;
  top: 38.149%;
  -webkit-transform: translate(-50%, -50%) rotate(0) scaleY(0.5);
          transform: translate(-50%, -50%) rotate(0) scaleY(0.5);
  opacity: 1; }

.accordion[data-current="4"] .rectangle-11 {
  left: 62%;
  top: 48.098%;
  -webkit-transform: translate(-50%, -50%) rotate(90deg) scaleY(0.75);
          transform: translate(-50%, -50%) rotate(90deg) scaleY(0.75);
  opacity: 1; }
