/*----------------------------------------*\
  ARTICLE
\*----------------------------------------*/

.article {
  max-width: $container-narrow-max-width;
  margin-left: auto;
  margin-right: auto;

  font-size: rem(18px);

  @include spaceless-children();

  img {
    @extend %img-responsive;
  }
}
