/*----------------------------------------*\
  BRAND
\*----------------------------------------*/

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

a.brand {
  .brand__img {
    transition: transform 0.2s cubic-bezier(0.32, 0.63, 0.43, 1.34);
    will-change: transform;
  }

  &:hover,
  &:focus {
    .brand__img {
      transform: scale(1.1);
    }
  }

  &:focus {
    outline: none;
  }
}

.brand__img {
  width: auto;
  height: auto;
  max-height: 60px;
  // Fix calculation on IE
  max-width: calc(100% - 1px);
}

.brand--grayscale {
  filter: grayscale(100%);
  transition: filter 0.2s ease-out;
}

a.brand--grayscale:hover,
a.brand--grayscale:focus {
  filter: grayscale(0);
}
