/*----------------------------------------*\
  EXPERTISE TILE
\*----------------------------------------*/

.expertise-tile {
  display: block;
  height: 100%;
  padding: $spacing-unit-default;

  position: relative;

  background-color: white;

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    background-image: linear-gradient(45deg, $green-700, $green-400);
    transition: opacity .2s;
    opacity: 0;
  }

  &:hover,
  &:focus {
    color: white;
    text-decoration: none;

    &::after {
      opacity: 1;
    }

    .expertise-tile__title {
      color: white;
    }

    .expertise-tile__teaser {
      color: lighten($green-700, 45%);
    }
  }

  @include media('lg') {
    padding: $spacing-unit-large;
  }
}

  .expertise-tile__body {
    position: relative;
    z-index: 2;
    transition: color .2s;
  }

  .expertise-tile__icon {
  }

  .expertise-tile__title {
    transition: color .2s;
  }

  .expertise-tile__teaser {
    color: $muted-color;
    font-size: fluid(14, 16);

    transition: color .2s;

    @include media('lg') {
      font-size: rem(16px);
    }
  }
