/*----------------------------------------*\
  HAIKU
\*----------------------------------------*/

.haiku {
  color: $web-black;
  line-height: 1.2;

  a {
    color: inherit;
    text-decoration: underline;

    transition: all .2s ease-out;

    &:hover,
    &:focus {
      color: $brand-color;
      text-decoration: none;
    }
  }
}

  .haiku__intro {
    display: inline-block;
    margin-bottom: $spacing-unit-default;

    color: $brand-color;
    font-weight: 500;

    @supports (-webkit-background-clip: text) {
      -webkit-text-fill-color: transparent;
      background-image: linear-gradient(to right, $green-700 50%, $green-400);
      -webkit-background-clip: text;
    }
  }

  .haiku__title,
  .haiku__list {
    font-weight: 700;
    font-size: rem(30px);
    font-size: clamp(24px, 4vw, 36px);
  }

  .haiku__number {
    color: $brand-color;
  }

.haiku--negative {
  color: white;

  .haiku__intro {
    color: white;
    -webkit-text-fill-color: initial;
    background-image: none;
    -webkit-background-clip: initial;
  }

  .haiku__number {
    color: white;
  }

  a {
    &:hover,
    &:focus {
      color: white;
    }
  }
}
