/*----------------------------------------*\
  WYSIWYG
\*----------------------------------------*/

.wysiwyg {
  @include spaceless-children();

  img {
    @extend %img-responsive;
    margin: $spacing-unit-default auto;
  }

  ul {
    @extend %list-branded;
  }

  ol,
  ul {
    margin-top: $spacing-unit-default;
    margin-bottom: $spacing-unit-default;

    li + li {
      margin-top: $spacing-unit-tiny;
    }
  }

  table {
    @extend %table;
    @extend %table-responsive;
  }
}
