/*----------------------------------------*\
  WYSIWYG
\*----------------------------------------*/

.wysiwyg {
  @include spaceless-children();

  @extend %headings-scaled;

  img,
  figure {
    @extend %img-responsive;
    margin: $spacing-unit-default auto;
  }

  figure {
    &:not(.embed-responsive) {
      width: max-content;
    }

    img {
      margin-top: 0;
      margin-bottom: $spacing-unit-small;
    }
  }

  figcaption {
    color: $alt-color-dark;
    font-style: italic;
  }

  ul {
    @extend %list-branded;
  }

  ol,
  ul {
    margin-top: $spacing-unit-default;
    margin-bottom: $spacing-unit-default;

    li + li {
      margin-top: $spacing-unit-tiny;
    }
  }

  table {
    @extend %table;
    @extend %table-responsive;
  }

  blockquote {
    padding-left: $spacing-unit-default;

    font-style: italic;

    border-left: 2px solid currentColor;

    p {
      margin-top: $spacing-unit-small;
      margin-bottom: $spacing-unit-small;
    }
  }
}
