/*----------------------------------------*\
  TEXT
\*----------------------------------------*/

.text-lead {
  font-size: rem(20px);
}

.text-brand {
  color: $brand-color;
}

.text-success {
  color: $green-500;
}

.text-danger {
  color: $cranberry-500;
}
