---
title: Overview | Fabricator
fabricator: true
---

<h1>Overview</h1>

<p>This UI toolkit is a highly-modular design system for rapid web page development. It contains different materials that can be assembled into more complex page layouts.</p>

<p>This guide contains real working examples, code snippets, documentation, and style guidelines.</p>

<h2>Usage</h2>

<p>Start by adding the following files to your page:</p>

<pre class="language-markup"><code class="language-markup">&lt;link rel=&quot;stylesheet&quot; href=&quot;assets/toolkit/styles/toolkit.css&quot;&gt;</code></pre>

<pre class="language-markup"><code class="language-markup">&lt;script src=&quot;assets/toolkit/scripts/toolkit.js&quot;&gt;&lt;/script&gt;</code></pre>


<h2>Colors</h2>

<p>Please use the Sass variables rather than hardcoded values.</p>

{{#each toolkit.colors}}
  <h3>{{@key}}</h3>
  <div class="f-color-chips">
	{{#each this}}
		<div class="f-color-chip">
			<div class="f-color-chip__name">{{@key}}</div>
      <div class="f-color-chip__variable">{{this.variable}}</div>
      <div class="f-color-chip__color">{{this.HEX}}</div>
			<div class="f-color-chip__color">{{this.RGB}}</div>
		</div>
	{{/each}}
	</div>
{{/each}}
