/**
 * Fabricator styles
 * @author Luke Askew
 * Class selectors are namespaced with "f-"
 */

@import '../../toolkit/styles/settings/settings';

$settings: (
	theme: dark,
	accent: $green-700,
	menu-width: 14rem
);

@import 'partials/variables';
@import 'partials/color-chips';
@import 'partials/controls';
@import 'partials/item';
@import 'partials/layout';
@import 'partials/menu';

@import 'showcases/rectangles';
