{{#if notes}}
  <div class="f-item-notes" data-f-toggle="notes">
    {{{notes}}}
  </div>
{{/if}}

{{#unless data.index }}
  <div class="f-item-preview{{#if data.dark}} f-item-preview-dark{{/if}}">
    {{#if data.constraint}}
      <div class="grid grid--center">
        <div class="grid__item sm-w-1/2 md-w-1/3 lg-w-1/4">
    {{/if}}
    {{{material @key @root}}}
    {{#if data.constraint}}
        </div>
      </div>
    {{/if}}
  </div>
  <div class="f-item-code f-item-hidden" data-f-toggle="code">
    <pre><code class="language-markup">{{material @key @root}}</code></pre>
  </div>
  {{> f-item-controls}}
{{/unless}}
