.f-item-group {
  @include clearfix;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;

  @media (min-width: 60em) {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid $warm-grey-200;
  }

  &:last-child {
    border-bottom: 0;
    margin-bottom: 0;
  }

  ~ .f-item-group {
    margin-top: 0;
  }

  > .f-item-group {
    margin-top: 0;
    padding-bottom: 0;

    border-bottom: 0;

    &:first-of-type {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}

.f-item-code {
  margin: -10px 5px 0;

  position: relative;
  z-index: 1;

  border-radius: 2px;
  background-color: $web-black;

  pre,
  code {
    margin-bottom: 0;
  }
}

.f-item-preview {
  @include clearfix;

  padding: 1rem;
  margin-top: 1rem;

  position: relative;
  z-index: 2;

  background-color: white;
  border: 1px solid #eaeaea;
  border-bottom-color: darken(#eaeaea, 5%);
  border-radius: 2px;
}
  .f-item-preview-dark {
    background-color: $warm-grey-800;
    border-color: $web-black;
    border-bottom-color: darken($web-black, 5%);
  }

.f-item-border-bottom {
  border-bottom: 1px solid map-get($colors, light);
}

.f-item-heading-group {
  @include clearfix;
  margin-bottom: 1rem;
  vertical-align: middle;
}

.f-item-heading {
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;

  a {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus {
      &::after {
        content: ' #';
        color: $warm-grey-500;
      }
    }
  }
}

.f-item-controls {
  margin-top: 0.5rem;

  .f-control {
    vertical-align: baseline;

    font-size: 0.75rem;
    color: map-get($colors, medium);

    svg {
      width: 16px;
      height: 16px;
      margin-right: 0.25rem;

      vertical-align: text-bottom;
    }

    use {
      fill: map-get($colors, medium);
    }

    &:hover {
      color: map-get($colors, dark);

      use {
        fill: map-get($colors, dark);
      }
    }
  }
}

.f-item-hidden {
  display: none;
}
