<!doctype html>
<html lang="en"{{#if fabricator}} class="f-menu-active"{{/if}}>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{title}}{{#if title}} &middot; {{/if}}Liip Styleguide</title>

  <link rel="stylesheet" href="{{baseurl}}/assets/fabricator/styles/f.css">
  <link rel="stylesheet" href="{{baseurl}}/assets/toolkit/styles/toolkit.css">
</head>
<body>
  {{#if fabricator}}
    {{> f-icons}}
    {{> f-menu}}
    <div class="f-container">
      {{> f-control-bar}}
  {{/if}}

  {% body %}

  {{#if fabricator}}
    </div>
  <script src="{{baseurl}}/assets/fabricator/scripts/f.js"></script>
  {{/if}}

  <script src="{{baseurl}}/assets/toolkit/scripts/toolkit.js"></script>
</body>
</html>
